ENV=local
SWAGGER=1

DATA_BACKEND=sqlite
SQLITE_FILENAME="db"

EVENTS_BROADCAST_CHANNEL=http
BROADCAST_HTTP_URL=http://host.docker.internal:10000/webhook

ENABLED_STRATEGIES=password,google,facebook
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_APP_CLIENT_ID>
FACEBOOK_CLIENT_ID=<YOUR_FACEBOOK_APP_CLIENT_ID>
FACEBOOK_CLIENT_SECRET=<YOUR_FACEBOOK_APP_CLIENT_SECRET>
FACEBOOK_GRAPH_VERSION=v7.0