AUTH_SQLITE_HOST=thau-sqlite:9000
AUTH_MONGO_HOST=thau-mongo:9000
AUTH_POSTGRES_HOST=thau-postgres:9000

ENABLED_STRATEGIES=password,google,facebook
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_APP_CLIENT_ID>
FACEBOOK_CLIENT_ID=<YOUR_FACEBOOK_APP_CLIENT_ID>
FACEBOOK_CLIENT_SECRET=<YOUR_FACEBOOK_APP_CLIENT_SECRET>
FACEBOOK_GRAPH_VERSION=v7.0