AUTH_SQLITE_HOST=thau-sqlite:9000
AUTH_MONGO_HOST=thau-mongo:9000
AUTH_POSTGRES_HOST=thau-postgres:9000

PUBLIC_RSA_KEY=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS1cCk1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBMHhhYTB6S3RJQnN6ZDFRc0NEeDhcCmxLZGpuK2ZscmJzbGQzQ2FTdzFEU3dCSlVlQ2pGZ1h0NnRtNnNJUGxXSjYzczRKeU90eUNhQ0FlSHJYb1JTb2xcCi8vdnRWNEV2ZFdzamh3ZURMd3NNSm1UWCtOdHVNQjdCTHp5REEwanFoMXI1aWdoQk56blJnSE5NK2dEVWlEcTdcCmR0MHFmUVk3QWl3NEk2QlBjWVF2S2VTYjBYMHk2VkhzVTZ2aUVxcWZaZ1dja1poR0thcjNwL0hQejQ4aXJLUWZcCmhXbEdzNXFWWklMQ2ZSa1ZXamR5TGd4Q2VSMjVndkJlNDZ6cU01MlVQdkt4YWFBYVRTRlBpdUlHRmtvd1RlUG9cCm9HTFJwanpZUmNOMWJ5bEpMSUhJeUZ2Q3lvU0xOMVhPOXlCRFBxR2pwbzhLQnFXdFgxUTVrK3RSOVhLY2xXVzJcClR3SURBUUFCXAotLS0tLUVORCBQVUJMSUMgS0VZLS0tLS0=

ENABLED_STRATEGIES=password,google,facebook
GOOGLE_CLIENT_ID=<YOUR_GOOGLE_APP_CLIENT_ID>
FACEBOOK_CLIENT_ID=<YOUR_FACEBOOK_APP_CLIENT_ID>
FACEBOOK_CLIENT_SECRET=<YOUR_FACEBOOK_APP_CLIENT_SECRET>
FACEBOOK_GRAPH_VERSION=v7.0